:root{
    --azul-escuro: #2D6396;
    --azul-claro: #b5cbe0;
}

.cor-azul-claro{
    color: var(--azul-claro);
}

.cor-azul-escuro{
    color: var(--azul-escuro);
}

#dashboard{
    background-color: var(--azul-claro);
    min-height: 100vh;
}

.btn-crud-chamado{
    background-color: var(--azul-escuro);
    border-radius: 20px;
    padding: 0 40px;
    color: var(--azul-claro);
}
.btn-crud-chamado:hover{
    background-color: #5787b4;
    border-radius: 20px;
    padding: 0 40px;
    color: var(--azul-claro);
}

.card-body{
    height: 100%;
    background-color: #e7f0ff;
    padding-bottom: 10px;
}

.card {
    background-color: transparent;
}

.resposta-card {
    background-color: rgb(217, 243, 210);
    border-radius: 15px;
    position: relative;
}

.resposta-card::before {
    content: "";
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 35px solid rgb(217, 243, 210);
    position: absolute;
    top: 0;
    right: -20px;
}
#dashboard .maximo-imagem{
    min-height: 200px;
    background-image: url(../../assets/images/ben-kolde-FaPxZ88yZrw-unsplash.jpg);
    background-size: cover;
    background-position: center center;
}

.imagem-card{
    max-width: 100%;
    min-height: 100%;
}

.botoes-edicao{
    display: flex;
    justify-content: end;
}

@media (max-width: 991px) {
    .botoes-edicao{
        display: flex;
        justify-content: start;
    }
}