:root{
    --azul-escuro: #2D6396;
    --azul-claro: #b5cbe0;
    --laranja: #f8e432;
    --verde: #90E39A;
}


.back-azul-escuro{
    background-color: var(--azul-escuro);
}

.cor-verde{
    color: var(--verde);
}

.cor-laranja{
    color: var(--laranja);
}

.cor-azul-claro{
    color: var(--azul-claro);
}

.cor-azul-escuro{
    color: var(--azul-escuro);
}

#dashboard{
    background-color: var(--azul-claro);
    min-height: 100vh;
}

.btn-crud-chamado{
    background-color: var(--azul-escuro);
    border-radius: 20px;
    padding: 0 40px;
    color: var(--azul-claro);
}
.btn-crud-chamado:hover{
    background-color: #5787b4;
    border-radius: 20px;
    padding: 0 40px;
    color: var(--azul-claro);
}

.card-body{
    height: 100%;
    background-color: #e7f0ff;
    padding-bottom: 10px;
}

.modal-header, .modal-footer{
    background-color: #5787b4;
    color: #e7f0ff;
}

.modal-body {
    background-color: #e7f0ff;
}

.btn-crud-claro{
    background-color: var(--azul-claro);
    
    color: white;
}
.btn-crud-claro:hover{
    background-color: var(--azul-claro);
    
    color: var(--azul-escuro);
    
}




.botoes-edicao{
    display: flex;
    justify-content: end;
}
.card-reposta-background {
    background-color: transparent;
    border: 0;
}

.resposta-card {
    background-color: rgb(217, 243, 210);
    border-radius: 15px;
    position: relative;
}

.resposta-card::before {
    content: "";
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 35px solid rgb(217, 243, 210);
    position: absolute;
    top: 0;
    right: -20px;
}

@media (max-width: 991px) {
    .botoes-edicao{
        display: flex;
        justify-content: start;
    }
}