.btn-crud-chamado{
    background-color: #2D6396;
    border-radius: 20px;
    padding: 0 40px;
    color: #b5cbe0;
}
.btn-crud-chamado:hover{
    background-color: #5787b4;
    border-radius: 20px;
    padding: 0 40px;
    color: #b5cbe0;
}

.card-body{
    height: 100%;
}