* {
    padding: 0;
    margin: 0;

}

#pagina-principal {
    min-height: 100vh;
    background-color: #fff;
}

#pagina-principal .secao-um {
    min-height: 100vh;
    background: linear-gradient(to right, #00427f94, #e3ae0075), 
    url("../../assets/images/bench-accounting-C3V88BOoRoM-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

#pagina-principal .texto-header{
    color: #ffffff;
}

#pagina-principal .titulo-header{
    font-weight: bold;
    font-size: 48px;
}
